.card-header {
    background-color: #880a1f; /* Change to the desired background color */
    color: white; /* Change to the desired text color */
  }

.card-body {
    color: #880a1f; /* Change to the desired color */
  }

.custom-color {
    color: #880a1f; /* Change to the desired color */
  }  