<div class="mb-4 mt-2">
    <h1 class="h4 font-weight-normal">สถิติการเข้าใช้งาน</h1>
    <hr>
</div>

<div class="row text-center mb-5">
    <div class="col-6">
        <div class="card">
            <div class="card-header">เวลาใช้งาน</div>
            <div class="card-body">
                <h3 class="card-title">{{userScore.watch_time/60 | number:'1.2-2'}}</h3>
                นาที
            </div> 
          </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">คะแนนทั้งหมด</div>
            <div class="card-body">
                <h3 class="card-title">{{userScore.total_score}}</h3>
                คะแนน
            </div>
        </div>
    </div>
</div>


<h1 class="h5 font-weight-normal text-center custom-color">การใช้งาน 5 วันย้อนหลัง</h1>
<canvas id="myChart" width="400" height="250"></canvas>