<div class="mb-4 mt-2">
    <h4>สถิติการเข้าใช้งาน</h4>
    <hr>
</div>

<div class="row text-center mb-5">
    <div class="col-6">
        <div class="card">
            <div class="card-header">เวลาใช้งาน</div>
            <div class="card-body">
                <h3>{{watch_time/60 | number:'1.2-2'}}</h3>
                นาที
            </div> 
          </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">คะแนนทั้งหมด</div>
            <div class="card-body">
                <h3>{{total_score}}</h3>
                คะแนน
            </div>
        </div>
    </div>
</div>

<canvas id="myChart" width="400" height="250"></canvas>