  h3 {
    font-size: 20px; /* Adjust the font size as needed */
  }
  
  h2 {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  p {
    font-size: 15px; /* Adjust the font size as needed */
  }
  
  ol {
    font-size: 15px; /* Adjust the font size as needed */
  }