/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: auto;
  //font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12pt;
 }
 .input-group-text i {
   color: #880a1f; /* Replace with your desired color */
 }

 .btn-primary {
   background-color: #880a1f !important;
   border-color:  #880a1f !important;
 }

 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited,
 .btn-primary:focus {
   background-color: #5a0c18 !important;
   border-color: #5a0c18 !important;
 }

.custom-bg {
  background-color: #5a0c18; /* Replace with your desired color */
}
.custom-bg-2 {
  background-color: #2d3c44;; /* Replace with your desired color */
}

.custom-font-color {
  color: #ffffff; /* Replace with your desired color */
}