/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12pt;
 }
 .input-group-text i {
   color: #800020; /* Replace with your desired color */
 }

 .btn-primary {
   background-color: #800020 !important;
   border-color:  #800020 !important;
 }

 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited,
 .btn-primary:focus {
   background-color: #800020 !important;
   border-color: #800020 !important;
 }

.custom-bg {
  background: linear-gradient(90deg, #800020 0%, #ad002b 100%); /* Adjust the colors and direction as needed */
}
.custom-bg-2 {
  background-color: #800020;; /* Replace with your desired color */
}

.custom-font-color {
  color: #ffffff; /* Replace with your desired color */
}

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Kanit-Light';
  src: url('assets/fonts/Kanit-Light.ttf');
}

@font-face {
  font-family: 'Kanit-Bold';
  src: url('assets/fonts/Kanit-Bold.ttf');
}

@font-face {
  font-family: 'Kanit-Thin';
  src: url('assets/fonts/Kanit-Thin.ttf');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: url('assets/fonts/Kanit-Regular.ttf');
}

@font-face {
  font-family: 'Kanit-Medium';
  src: url('assets/fonts/Kanit-Medium.ttf');
}
